
ul li {
    list-style-image: url("../images/bullet.png");
}

span{
    font-size: 14px;
}

body{
    width: 100%;
    height: 100%;
    background: #f2f5f7;
    background-size: cover;
}

header{
    width: 100%;
    height: 70px;
    top: 0;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    position: sticky;
    box-shadow: 0 0 2em rgb(216, 206, 206);;
}

.row{
    margin-top: 50px;
}


.gb{
    background-color: white;
    margin-bottom: 3rem;
    padding: 2rem;
    box-shadow: 0 0 2em rgb(216, 206, 206);
    border-radius: 15px;
}

footer{
    display: flex;
    justify-content: center;
}


